$font: Lucida Sans Unicode;

$gradientBg: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(153,187,255,1) 100%);

$defaultBlackBorder: 2px solid black;

$tAreaBg: #99bbff;

$infoBlockWrapperBg: rgba(0, 0, 0, 0.5);

$infoBlockButtonBg: #f2f20d;

$infoBlockSpanColor: #f2f20d;

$kbButtonHover: #ffff99;

$kbButtonActive: #ffff66;

$kbButtonFuncHover: #d9d9d9;

$kbButtonFuncActive: #ffff66;

$buttonBg: white;
